# Rust / Cargo
/target/
**/*.rs.bk
*.rs.bk

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak

# Tooling & Session files
.stakpak/session*

# OS / Environment generated
Thumbs.db
EhThumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.env
.env.local

# Logs
*.log
